$black:rgba(0, 0, 0,.7);
$green:rgba(11,153,29,1);
$greenTransparent:rgba(11,153,29,.2);
$whiteTransparent:rgba(255,255,255,.9);
$blueTransparent:rgba(102,153,204,.7);
$blue:rgba(102,153,204,1);

.about__container__background{
  width: 100%;
  background-color: $blue;
  position: relative;
  z-index: -99;
}
.about__container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0 80px 120px;
  position: relative;
  @media screen and (max-width: 1320px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
@media screen and (max-width: 750px){
    padding: 100px 12px 80px 12px;
  }


  z-index: -2;
  .about__title{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0 0 40px 0;
    @media screen and (max-width: 830px){
      font-size: 25px;
    }
    @media screen and (min-width: 1000px){
      align-self: flex-start;
    }
  }
  .about__desc{
    display: flex;
    @media screen and (max-width: 750px){
     flex-direction: column;
      align-items: center;
        justify-content: center;
    }
    img{
      width: 514px;
      height: 550px;
      flex-shrink: 0;
      position: relative;
      z-index: -1;
      left: -100px;
      @media screen and (max-width: 1320px){
        width: 450px;
      }
      @media screen and (max-width: 1100px){
        width: 350px;
      }
      @media screen and (max-width: 750px){
        width:400px;
        left: 0;
      }
      @media screen and (max-width: 470px){
        width: 100%;
      }
    }
  }
  .about__description__container{
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    width: 803px;
    height: 441px;
    flex-shrink: 0;
    box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 1300px){
      width: 500px;
    }
    @media screen and (max-width: 1100px){
      width: 400px;
    }
    @media screen and (max-width: 470px){
      width: 100%;
    }
    p{
      @media screen and (max-width: 1300px){
        font-size: 19px;
      }
      @media screen and (max-width: 1100px){
        font-size: 17px;
      }
      @media screen and (max-width: 369px){
        font-size: 15px;
      }
      color: #000;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

  

