.footer{
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .footer__container{
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1440px;
    margin: 0 auto;
    @media screen and (max-width: 1000px){
      padding: 100px 12px;
    }
    p,h1{
      color: #FFFFFF;

    }
    h1{
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 50px;
      @media screen and (max-width: 830px){
        font-size: 25px;
      }
    }
    p{
      color: #FFF;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      line-height:100%
    }
  }
}