$black:rgba(0, 0, 0,.7);
$green:rgba(11,153,29,1);
$greenTransparent: rgba(11, 153, 29, 0.2);
$whiteTransparent:rgba(255,255,255,.9);
$blueTransparent:rgba(102,153,204,.7);
$blue:rgba(102,153,204,1);


.contact__container{
  max-width: 1440px;
  margin: 100px auto;
  padding: 0 120px;
  @media  screen and (max-width: 1000px) {
      padding: 0 12px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
  .contact__title{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
    @media screen and (max-width: 830px){
      font-size: 25px;
    }
  }
}

.contact__form__info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  @media  screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
  .contact__info{
    margin-top: 25px;
    width: 100%;
    background-color: $blue;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 40px 65px;
    border-radius: 10px;
  @media  screen and (max-width: 1100px) {
      width: 500px;
      justify-content: center;
      align-content: center;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 40px 15px;
    }
    .contact__adress,
    .contact__phone,
    .contact__email{
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 20px;
      img{
        height: 40px;
        width: 40px;
        margin: 0 30px 0 0;
      }
      a{
        color: #FFFFFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &:hover{
          color: rgba(246, 246, 246, 0.5);
        }
        @media screen and (max-width: 500px) {
          font-size: 15px;
        }
      }
    }
  }
}